<!-- src/app/about/about.component.html -->
<section class="py-16 bg-white">
  <h2 class="text-3xl font-bold text-gray-800 text-center">About Me</h2>
  <p class="text-lg text-gray-600 mt-4 max-w-2xl mx-auto text-center">
    I am Sandeep, a creative Front-End Web Developer and UI/UX Designer with a
    strong passion for crafting engaging and user-friendly web experiences.
    Skilled in designing intuitive user interfaces and implementing responsive
    designs that meet both user needs and business goals. Proficient in modern
    web technologies including HTML, CSS, JavaScript, and popular frameworks
    such as Angular and Figma. Adept at collaborating with cross-functional
    teams to bring ideas to life, ensuring seamless integration of visual design
    and functionality. Committed to continuous learning and staying updated with
    the latest industry trends to deliver innovative and efficient web
    solutions.
  </p>
</section>
